<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <style>
    body{
        margin : 0;
        padding : 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:-moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    }
    li {
      float: right;
    }
    li:last-child {
      border-right: none;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      margin-right: 20px;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    h1 a {
      color: red;
    }

    /* .active {
      background-color: grey;
    } */
    </style>
</head>
<body>
  <h1 style="margin:30px;margin-top: 20px;margin-bottom: 0px;"><a href="/">BDMS</a></h1>
  <ul>
    <% if(user) { %>
      <li><a href="/logout">Log Out</a></li>
      <li><a href="/banks">Enquire</a></li>
      <li><a href="/AddDetails">Donate</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/">Welcome, <%= user.name %></a></li>
      <% } else { %>
        <% if(admin) { %>
          <li><a href="/logout">Log Out</a></li>
          <li><a href="/banks">Enquire</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/">Welcome, <%= admin.name %></a></li>
        <% } else { %>
          <li><a href="/banks">Enquire</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
          <li><a href="/">Home</a></li>
        <% } %>
      <% } %>
  </ul>
    <div class="login">
        <h1 style="margin-bottom: 30px;">Enter Bank Details</h1>
        <form action="/AddDetails" novalidate>
            <input type="text" name="bank_name" placeholder="blood bank name" onkeyup="this.value = this.value.toUpperCase();" required="required" />
            <div class="contact error" style="color:aqua"></div><br>
            <input type="text" name="contact" placeholder="contact no" required="required" />
            <div class="password error" style="color:aqua"></div><br>
            <input type="text" name="email" placeholder="email" required="required" />
            <div class="password error" style="color:aqua"></div><br>
            <input type="text" name="address" placeholder="address" required="required" />
            <div class="password error" style="color:aqua"></div><br>
            <button class="btn btn-primary btn-block btn-large">Add</button>
        </form>
    </div>
</body>
</html>

<script>
    const form = document.querySelector('form');
    const bankNameError = document.querySelector('.contact.error');
    const amountError = document.querySelector('.password.error');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // reset errors
      console.log('awhrf;oqiehr');
      bankNameError.textContent = '';
      amountError.textContent = '';
      // get values
      const name = form.bank_name.value;
      const contact = form.contact.value;
      const email = form.email.value;
      const add = form.address.value;
      try {
        const res = await fetch('/addBank', { 
          method: 'POST', 
          body: JSON.stringify({ name, contact, email, add }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          bankNameError.textContent = data.errors.name;
          amountError.textContent = data.errors.amount;
        }
        if(!(data.errors))
          location.assign('/');
        console.log(bankNameError.textContent, amountError.textContent);
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>